<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="PollingInterval" value="300000"/>
    <add key="PackagePath" value=""/> <!--Local Path where packages are temporarily stored -->
    <add key="NuGetUrl" value="" /> <!-- NuGet Base Url - I tested this with MyGet -->
    <add key="OctopusDeployUrl" value=""/> <!-- Octopus Deploy Server Url -->
    <add key="OctopusDeployApiKey" value=""/> <!-- Octopus Deploy API Key -->
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:write-to:RollingFile.restrictedToMinimumLevel" value="Verbose" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="OctoSync-{Date}.log" />
    <add key="serilog:using" value="Serilog.Sinks.Seq" />
    <add key="serilog:write-to:Seq.restrictedToMinimumLevel" value="Verbose" />
    <add key="serilog:write-to:Seq.serverUrl" value="http://localhost:5341/" />
    <add key="serilog:write-to:Seq.bufferBaseFilename" value="OctoSync.seq.buffered.log" />
  </appSettings>
  </configuration>